
lib/.DS_Store
interfaces/.DS_Store
.idea/vcs.xml
lib/.DS_Store
lib/.DS_Store
dist/pypescript_interface-0.0.3-py3-none-any.whl
dist/pypescript_interface-0.0.4-py3-none-any.whl
build/lib/interfaces/__init__.py
/pypescript_interface.egg-info/
pypescript_interface.egg-info/PKG-INFO
pypescript_interface.egg-info/dependency_links.txt
pypescript_interface.egg-info/requires.txt
pypescript_interface.egg-info/SOURCES.txt
pypescript_interface.egg-info/top_level.txt
dist/pypescript_interface-0.0.6-py3-none-any.whl
.idea/misc.xml
*.iml
.idea/PypescriptInterfaces.iml
dist
